<html>
    <head>
        <style>
            .email {
                font-family: Arial;
                font-size: 10pt;
                margin: 10px;
                padding: 20px;
                background-color: #e1e1e1;
            }
            .no-reply {
                margin-top: 30px;
                font-size: 8pt;
                padding: 10px;
                border: 1px solid #CCCCCC;
            }
            .details {
                border: 2px solid #e03c01;
                padding: 20px;
                line-height: 30px;
            }
            .buttonStyle {
                background-color:#e03c01;
                border: #2e6da4 1px solid;
                font-family: Arial, Geneva, Arial, Helvetica,  sans-serif;
                font-size: 15px;
                color: #FFFFFF !important;
                letter-spacing: 1px;
                padding: 12px;
                font-size: 16px;
                font-weight: normal;
                border-radius: 4px;
                line-height: 1.5;
                text-decoration:none;
                width: 30%;
                margin-left: auto;
                margin-right: auto;
             }
             .buttonStyle a {
                text-decoration: none !important;
                color: #FFF !important;
             }
             .textColor {
                color: #e03c01;
             }
             .bodyBackground {
                background-color: #FFFFFF;
                padding-top: 30px;
                padding-right: 30px;
                padding-left: 30px;
                padding-bottom: 2px;
                margin-right: 60px;
                margin-left: 60px;
             }

             .img {
                 width: 50px;
                 height: 50px;
             }

             @media (max-width: 700px) {
                .img {
                     margin-left: 1px;
                     width: 30px;
                     height: 30px;
                 }
                 .bodyBackground {
                    background-color: #FFFFFF;
                    padding-top: 30px;
                    padding-right: 30px;
                    padding-left: 30px;
                    padding-bottom: 2px;
                    margin-right: 30px;
                    margin-left: 30px;
                 }
                .buttonStyle {
                    background-color:#e03c01;
                    border: #2e6da4 1px solid;
                    font-family: Arial, Geneva, Arial, Helvetica,  sans-serif;
                    font-size: 15px;
                    color: #FFFFFF !important;
                    letter-spacing: 1px;
                    padding: 12px;
                    font-size: 16px;
                    font-weight: normal;
                    border-radius: 4px;
                    line-height: 1.5;
                    text-decoration:none;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                 }
             }
        </style>
    </head>
    <body>
        <div class='email'>
            <div>
                <img src="https://image.ibb.co/jx5xUU/titan_logo.png" width="50px" height="50px">
            </div>
            <div class="bodyBackground">
                <span class="textColor">Hi {{ name }},</span> <br /><br />
                Changes has been made to your account. <br /> <br />
                If you did not consent those changes, please contact your Titan Officer immediately.

                <br /><br />
                <div style="text-align: center; padding: 10px;">
                    <div class="buttonStyle">
                        <a href="{{ link }}">Click Here to Login</a>
                    </div>
                </div>

                <br /> <br />

                Thank You,
                <br /> <br /> <br />

                Titan Admin
                <br /><br />
            </div>
        </div>
    </body>
</html>