<html>
    <head>
        <style>
            .email {
                font-family: Arial;
                font-size: 12pt;
                margin: 5px;
            }
            .details {
                border: 2px solid #e03c01;
                padding: 20px;
                line-height: 30px;
            }
        </style>
    </head>
    <body>
        <div class='email'>
            Titan Officer, <br /><br />
            The following changes requires your immediate attention.
            <br /> <br />
            Click
            <a href="{{ link }}">here</a>
            to see detail.
        </div>
    </body>
</html>