<html>
    <head>
        <style>
            .email {
                font-family: Arial;
                font-size: 12pt;
                margin: 5px;
            }
            .details {
                border: 2px solid #e03c01;
                padding: 20px;
                line-height: 30px;
            }
        </style>
    </head>
    <body>
        <div class='email'>
            <div>
                <img src="https://i.ibb.co/5M4xFVL/athena.png" width="219px" height="27px">
            </div>
            Greetings, <br /><br />
            Congratulations, you have new client. <br />
            Please see details below. <br /><br />
            <div class='details'>
                <b>Name: </b> {{ name }} <br />
                <b>Contact Number: </b> {{ contact_number }} <br />
                <b>Email: </b> {{ email }} <br />
                <b>Message: </b>{{ message }} <br />
            </div>
            <br />
            Thank You, <br /><br />
            Athena Pay Admin <br />
        </div>
    </body>
</html>