<html>
    <head>
        <style>
            .body {
                margin: 1in;
                background-color: #EEE;
            }

            .header {
                font-size: 28px;
                color: #A00;
                font-weight: bold;
            }

            .content {
                text-align: justify;
            }
        </style>
    </head>
    <body>
        <div class="body">
            <div class="header">
                {{ user }}
            </div>

            <div class="content">
                {{ message }}
            </div>
        </div>
    </body>
</html>